.DataTable {
    width: 100%;
}

.DataTable td, th {
  padding: 1px 15px;
}

.DataTable th {
  text-align: left;
}

.pagination {
    margin-top: 15px; 
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.paginationLinks a {
    padding: 0 15px;
}